
button {
    cursor: pointer;    
}

li {
    list-style: none;
}

ul img {
    height: 200px;
}

ul {
    display: flex;
    gap: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#section1 {
    background-color: beige;
}

#section2 {
    text-align: center;
}

#logos {
    display: flex;
    justify-content: center;
    gap: 100px;

}


















/**https://www.anthropic.com/product